<li>
  <p>
    <b><%= link_to h(event.name), event_path(event) %></b>

    <br/>

    <% if event.starts_at %>
      <%= event.starts_at.to_s(:usual) %>
      &ndash;
      <%= event.ends_at.to_s(:brief) %>
    <% end %>

    <% if event.location %>
      at <%= h event.location.name %>
    <% end %>
  </p>
</li>
