<li>
  <p>
    <b><%= link_to event.name, event_path(event) %></b>

    <br/>

    <% if event.starts_at %>
      <%= event.starts_at.strftime('%a %b %d %Y at %I:%M%p')%> 
    <% end %>

    <% if event.location %>
      @ <%= event.location.name %>
    <% end %>
  </p>
</li>
