<% cache "home-index" do %>
<h2>Who are we?</h2>

<p>The Portland Ruby Brigade is a user group for Ruby programmers in the Portland, Oregon area.

<h2>Join us! We don't bite!</h2>

<p>We're a friendly group that freely shares knowledge about the Ruby programming language, its libraries and frameworks, such as Ruby on Rails. The group meets regularly on <i>Ruby Tuesday</i>, the first Tuesday of each month for presentations, demos and discussions. Meetings are free and open to the public. Developers with any level of Ruby experience are welcomed to participate.</p>

<h2>Resources</h2>
<ul>
  <li>
    <a href="http://groups.google.com/group/pdxruby">Subscribe to our mailing list: "pdxruby"</a>
  </li>
  <li>
    <a href="http://twitter.com/pdxruby">Follow us on Twitter: "pdxruby"</a>
  </li>
  <li>
    <a href="irc://irc.freenode.net/#pdx.rb">Chat with us on IRC: "#pdx.rb"</a>
  </li>
</ul>

<h2>Future events</h2>
<p>
  <%= link_to "Subscribe", events_url(:format => "ics", :protocol => "webcal") %>
  or
  <%= link_to "download", events_url(:format => "ics") %>
  events.
</p>
<ul>
  <%= render :partial => 'event', :collection => @events %>
  <li><p><%= link_to "See past events...", events_path %></p></li>
</ul>
<% end %>
