<h2>Hi There!</h2>

<p>We've had many job postings on the list, and we don't want them to stop. However, we do ask you follow a few guidelines to help you be more successful.</p>

<h3>Please&hellip;</h3>
<ul>
  <li>start the subject of your email with [JOB]</li>
  <li>only post jobs within 100 miles of Portland or run it by a moderator first.</li>
  <li>don't copy/paste some corporate description. They are too boilerplate and vague for us.</li>
  <li>avoid buzzwords. If you want a ninja rockstar to roflscale your project, you're looking in the wrong place.</li>
  <li>don't post a description that came right from your lawyer's lips. Descriptions that sound like they're from a human do <em>much</em> better.</li>
  <li>keep the descriptions short, technical &amp; clear.</li>
  <li>tell us about the culture, not just the benefits.</li>
  <li>take a look at several well-received posts
    <ul>
      <li><a href="https://groups.google.com/d/msg/pdxruby/tMb6k44relI/ojsizgNa0bgJ" target="_blank">Anyone interested in Ruby work?</a> &ndash; <a href="http://www.revisu.com" target="_blank">Revisu</a></li>
      <li><a href="https://groups.google.com/d/msg/pdxruby/tMb6k44relI/ojsizgNa0bgJ" target="_blank">Looking for experienced RoR developer and project partner</a> &ndash; <a href="http://www.dot-orgstrategicplan.com/" target="_blank">Dot-org Strategic Plan</a></li>
    </ul>
  </li>
  <li>take a look at what we <em>don't</em> care for
    <ul>
      <li><a href="https://groups.google.com/d/msg/pdxruby/w4VLqA5AClI/dzH7kv7r5OYJ" target="_blank">Sr. Ruby Developer</a></li>
      <li><a href="https://groups.google.com/d/msg/pdxruby/T9cARxxLQqA/L2oC2iz67CgJ" target="_blank">The "Ruby On Rails - Mastermind" Opportunities</a></li>
    </ul>
  </li>
</ul>
