<!--[form:location]-->
<p><label for="location_name">Location Name</label><br/>
<%= text_field 'location', 'name'  %></p>

<p><label for="location_address">Location Address</label><br/>
<%= text_area 'location', 'address'  %></p>

<p><label for="location_homepage">Location Homepage</label><br/>
<%= text_field 'location', 'homepage'  %></p>

<!--[eoform:location]-->
