<h1>Listing locations</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
  </tr>

  <% @locations.each do |location| %>
    <tr>
      <td><%= link_to h(location.name), location_path(location) %></td>
      <td><%= h location.address %></td>
    </tr>
  <% end %>
</table>

<p>
  <%= link_to 'Add new location', new_location_path %>
</p>
