<% cache "members,logged_#{logged_in?}" do %>
<h3>Members</h3>

<% if logged_in_and_nonspammer? %>
  <p>Email addresses below are only visible to other members.</p>
<% end %>

<table id="memberlist">
  <tr>
   <th></th>
   <th>Name</th>
   <% if logged_in_and_nonspammer? %>
    <th>Email</th>
   <% end %>
  </tr>

<% for member in @members %>
  <tr>
    <td><%= image_tag member.picture.url(:tiny) if member.picture.file? %></td>
    <td><%= link_to h(member.name), member_path(member) %></td>
    <% if logged_in_and_nonspammer? %>
      <td><%= display_mail_to(member.email) if member.email %></td>
    <% end %>
  </tr>
<% end %>
</table>

<p>
  <%= link_to 'Add new member', new_member_path %>
</p>
<% end %>
