<h3>Members</h3>

<table id="memberlist">
  <tr>
   <th>Name</td>
   <% if logged_in? %>
    <th>Email</td>
   <% end %>
  </tr>

<% for member in @members %>
  <tr>
    <td><%= link_to h(member.name), member_path(member) %></td>
    <% if logged_in? %>
      <td><%= link_to h(member.email), "mailto:#{member.email}" %></td>
    <% end %>
  </tr>
<% end %>
</table>

<p>
  <%= link_to 'Add new member', new_member_path %>
</p>
